In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.datasets import fetch_openml

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
#file_csv = "genetic-based-diagnosis-of-patients-publicleaderboard.csv"
#df = pd.read_pickle('data_385k.pkl', compression='zip')

file_csv = "Death_Cause_Reason_by_Country.csv"

df = pd.read_csv(file_csv)

In [3]:
df.shape

(191, 33)

In [4]:
df.columns

Index(['Country Name', 'Covid-19 Deaths', 'Cardiovascular diseases',
       'Respiratory diseases ', 'Kidney diseases', 'Neonatal disorders ',
       'Meningitis ', 'Malaria ', 'Interpersonal violence', 'HIV/AIDS',
       'Tuberculosis', 'Maternal disorders', 'Lower respiratory infections',
       'Alcohol use disorders', 'Diarrheal diseases', 'Poisoning',
       'Nutritional deficiencies', ' Alzheimer's disease',
       'Parkinson's disease', ' Acute hepatitis', 'Digestive diseases',
       ' Cirrhosis and other chronic liver diseases',
       'Protein-energy malnutrition', 'Neoplasms', 'Fire, heat', 'Drowning',
       'Drug use disorders', 'Road injuries',
       'Environmental heat and cold exposure', 'Self-harm',
       ' Conflict and terrorism', 'Diabetes ', 'Unnamed: 32'],
      dtype='object')

In [5]:
pd.set_option('display.max_columns',None)

In [6]:
df.head(10)

,Country Name,Covid-19 Deaths,Cardiovascular diseases,Respiratory diseases,Kidney diseases,Neonatal disorders,Meningitis,Malaria,Interpersonal violence,HIV/AIDS,Tuberculosis,Maternal disorders,Lower respiratory infections,Alcohol use disorders,Diarrheal diseases,Poisoning,Nutritional deficiencies,Alzheimer's disease,Parkinson's disease,Acute hepatitis,Digestive diseases,Cirrhosis and other chronic liver diseases,Protein-energy malnutrition,Neoplasms,"Fire, heat",Drowning,Drug use disorders,Road injuries,Environmental heat and cold exposure,Self-harm,Conflict and terrorism,Diabetes,Unnamed: 32
0,Afghanistan,2201.0,61995,7082,5637,23701,1563,530,5015,318,3627,4038,18697,147,4320,525,1244,1775,560,1940,6929,3797,1210,21247,485,1687,406,8254,59,1613,24295,4817,NaN
1,Albania,1181.0,12904,815,329,161,13,0,57,2,11,3,457,18,7,11,5,917,248,1,527,333,3,4705,18,36,29,243,4,152,0,175,NaN
2,Algeria,2762.0,97931,7528,8201,8756,292,0,459,264,445,638,5786,111,527,351,114,5209,1283,259,6398,4045,92,23816,782,526,526,11051,40,1515,13,5328,NaN
3,Andorra,84.0,169,39,16,0,0,0,0,3,0,0,20,1,1,0,0,36,7,1,27,12,0,230,0,0,0,8,0,8,0,9,NaN
4,Angola,33.0,25724,3934,2464,18189,2520,10784,974,16802,11752,2069,12783,211,12936,433,3015,1143,267,246,8971,5666,2906,12791,513,793,80,9253,114,1928,16,4033,NaN
5,Antigua and Barbuda,5.0,200,11,36,4,1,0,5,7,0,0,30,7,2,0,3,16,5,0,24,13,3,138,2,4,0,7,0,3,0,57,NaN
6,Argentina,43319.0,101725,19348,15665,3272,453,0,2881,1777,727,377,36264,821,757,272,1330,12045,3043,36,17792,8525,1255,85209,672,566,86,6318,45,5029,0,10762,NaN
7,Armenia,2828.0,13507,1323,449,156,5,0,153,19,73,8,546,69,13,18,4,873,169,2,1720,1114,1,5834,45,44,10,240,47,287,0,1235,NaN
8,Australia,909.0,51615,11203,5207,487,46,0,322,71,95,13,4269,590,228,43,164,11240,2403,10,6632,2215,136,53700,109,196,1128,1595,37,2898,0,4239,NaN
9,Austria,6261.0,32998,3406,3367,115,31,0,70,35,50,3,1205,517,125,31,12,4802,1040,3,3237,1809,2,22258,42,56,140,491,35,1418,0,2340,NaN

In [7]:
df.tail(10)

,Country Name,Covid-19 Deaths,Cardiovascular diseases,Respiratory diseases,Kidney diseases,Neonatal disorders,Meningitis,Malaria,Interpersonal violence,HIV/AIDS,Tuberculosis,Maternal disorders,Lower respiratory infections,Alcohol use disorders,Diarrheal diseases,Poisoning,Nutritional deficiencies,Alzheimer's disease,Parkinson's disease,Acute hepatitis,Digestive diseases,Cirrhosis and other chronic liver diseases,Protein-energy malnutrition,Neoplasms,"Fire, heat",Drowning,Drug use disorders,Road injuries,Environmental heat and cold exposure,Self-harm,Conflict and terrorism,Diabetes,Unnamed: 32
181,United Kingdom,74185.0,188113,51879,7776,1484,265,0,339,233,390,40,41877,1762,1419,135,159,32425,7906,22,33215,10031,118,195999,383,300,2654,2696,128,5618,2,6368,NaN
182,United States,353948.0,957455,224988,106954,10994,1146,0,17709,7053,978,990,81921,14044,11727,1528,6090,143919,32211,131,129343,67286,5710,773895,3616,3615,65717,41362,1378,45349,31,77719,NaN
183,Uruguay,193.0,10003,2155,989,148,14,0,212,177,56,10,1595,111,165,16,134,1497,349,1,1546,471,104,10084,67,71,15,560,6,666,0,895,NaN
184,Uzbekistan,614.0,107394,3837,3971,5257,175,0,974,585,2445,228,10787,156,161,368,41,1119,544,130,15019,13042,9,22338,684,1597,188,4929,178,3793,0,8154,NaN
185,Venezuela,1030.0,61510,7062,10405,3338,254,667,10944,1850,826,497,5555,188,1418,82,552,6313,1119,21,8601,4692,527,34771,196,524,90,6207,11,2310,0,10795,NaN
186,Vietnam,35.0,240161,36229,21485,6468,747,59,1267,6399,18681,234,21345,1000,1672,935,954,19460,4259,674,31306,23637,95,112564,608,6098,1176,24153,82,8114,0,29391,NaN
187,Wales,512.0,10519,2892,426,57,14,0,18,12,20,2,2591,90,76,8,10,1687,400,1,1798,581,7,10569,20,15,173,130,8,310,0,326,NaN
188,Yemen,610.0,55752,5738,2676,18982,479,5089,820,347,1029,1705,6289,82,6614,450,1010,1731,413,523,4877,2786,941,12681,839,843,261,11717,43,1560,13402,1815,NaN
189,Zambia,390.0,18157,2388,1931,9851,2065,4777,1616,22540,7056,804,8190,137,7224,309,1899,763,203,263,6528,4593,1828,9789,326,359,60,2285,84,1398,1,2573,NaN
190,Zimbabwe,369.0,17810,2891,2292,8609,1450,2068,1434,20722,10465,1294,12897,53,4635,405,2884,812,232,136,4437,2065,2855,12353,662,827,127,2554,37,2403,11,3460,NaN

In [8]:
print(df["Country Name"].value_counts())

Afghanistan         1
Papua New Guinea    1
North Korea         1
North Macedonia     1
Northern Ireland    1
                   ..
Greenland           1
Guatemala           1
Guinea              1
Guyana              1
Zimbabwe            1
Name: Country Name, Length: 191, dtype: int64

In [9]:
print(df["Unnamed: 32"].value_counts())

Series([], Name: Unnamed: 32, dtype: int64)

In [10]:
df.drop(columns=["Unnamed: 32"], axis=1, inplace=True)

In [11]:
column_names = df.columns

list_column_names = list(column_names)

for colname in list_column_names:
    print(f" {list_column_names.index(colname)}  -> {colname}")

 0  -> Country Name
 1  -> Covid-19 Deaths
 2  -> Cardiovascular diseases
 3  -> Respiratory diseases
 4  -> Kidney diseases
 5  -> Neonatal disorders
 6  -> Meningitis
 7  -> Malaria
 8  -> Interpersonal violence
 9  -> HIV/AIDS
 10  -> Tuberculosis
 11  -> Maternal disorders
 12  -> Lower respiratory infections
 13  -> Alcohol use disorders
 14  -> Diarrheal diseases
 15  -> Poisoning
 16  -> Nutritional deficiencies
 17  ->  Alzheimer's disease
 18  -> Parkinson's disease
 19  ->  Acute hepatitis
 20  -> Digestive diseases
 21  ->  Cirrhosis and other chronic liver diseases
 22  -> Protein-energy malnutrition
 23  -> Neoplasms
 24  -> Fire, heat
 25  -> Drowning
 26  -> Drug use disorders
 27  -> Road injuries
 28  -> Environmental heat and cold exposure
 29  -> Self-harm
 30  ->  Conflict and terrorism
 31  -> Diabetes

In [12]:
drop_col_list = [1,4,5,6,8,9,10,11,12,13,14,15,16,17,18,19,21,22,24,25,26,27,28,29,30,31]

In [13]:
df.drop(df.columns[drop_col_list], axis=1, inplace=True)

In [14]:
df

,Country Name,Cardiovascular diseases,Respiratory diseases,Malaria,Digestive diseases,Neoplasms
0,Afghanistan,61995,7082,530,6929,21247
1,Albania,12904,815,0,527,4705
2,Algeria,97931,7528,0,6398,23816
3,Andorra,169,39,0,27,230
4,Angola,25724,3934,10784,8971,12791
...,...,...,...,...,...,...
186,Vietnam,240161,36229,59,31306,112564
187,Wales,10519,2892,0,1798,10569
188,Yemen,55752,5738,5089,4877,12681
189,Zambia,18157,2388,4777,6528,9789
190,Zimbabwe,17810,2891,2068,4437,12353

In [15]:
pathologies = df.columns[1:]
pathologies

Index(['Cardiovascular diseases', 'Respiratory diseases ', 'Malaria ',
       'Digestive diseases', 'Neoplasms'],
      dtype='object')

In [16]:
pathologies = list(pathologies)
pathologies

['Cardiovascular diseases',
 'Respiratory diseases ',
 'Malaria ',
 'Digestive diseases',
 'Neoplasms']

In [17]:
df['__All causes__'] = df.sum(axis=1, numeric_only=True)
df

,Country Name,Cardiovascular diseases,Respiratory diseases,Malaria,Digestive diseases,Neoplasms,__All causes__
0,Afghanistan,61995,7082,530,6929,21247,97783
1,Albania,12904,815,0,527,4705,18951
2,Algeria,97931,7528,0,6398,23816,135673
3,Andorra,169,39,0,27,230,465
4,Angola,25724,3934,10784,8971,12791,62204
...,...,...,...,...,...,...,...
186,Vietnam,240161,36229,59,31306,112564,420319
187,Wales,10519,2892,0,1798,10569,25778
188,Yemen,55752,5738,5089,4877,12681,84137
189,Zambia,18157,2388,4777,6528,9789,41639
190,Zimbabwe,17810,2891,2068,4437,12353,39559

In [18]:
df.loc['index_of_world']= df.sum()
df

,Country Name,Cardiovascular diseases,Respiratory diseases,Malaria,Digestive diseases,Neoplasms,__All causes__
0,Afghanistan,61995,7082,530,6929,21247,97783
1,Albania,12904,815,0,527,4705,18951
2,Algeria,97931,7528,0,6398,23816,135673
3,Andorra,169,39,0,27,230,465
4,Angola,25724,3934,10784,8971,12791,62204
...,...,...,...,...,...,...,...
187,Wales,10519,2892,0,1798,10569,25778
188,Yemen,55752,5738,5089,4877,12681,84137
189,Zambia,18157,2388,4777,6528,9789,41639
190,Zimbabwe,17810,2891,2068,4437,12353,39559
index_of_world,AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua ...,18735068,4019102,625532,2581914,10262088,36223704

In [19]:
df.loc[df.index[-1], 'Country Name'] = '__World__'
df

,Country Name,Cardiovascular diseases,Respiratory diseases,Malaria,Digestive diseases,Neoplasms,__All causes__
0,Afghanistan,61995,7082,530,6929,21247,97783
1,Albania,12904,815,0,527,4705,18951
2,Algeria,97931,7528,0,6398,23816,135673
3,Andorra,169,39,0,27,230,465
4,Angola,25724,3934,10784,8971,12791,62204
...,...,...,...,...,...,...,...
187,Wales,10519,2892,0,1798,10569,25778
188,Yemen,55752,5738,5089,4877,12681,84137
189,Zambia,18157,2388,4777,6528,9789,41639
190,Zimbabwe,17810,2891,2068,4437,12353,39559
index_of_world,__World__,18735068,4019102,625532,2581914,10262088,36223704

In [20]:
mysubset = df.head(5).to_dict()
mysubset

{'Country Name': {0: 'Afghanistan',
  1: 'Albania',
  2: 'Algeria',
  3: 'Andorra',
  4: 'Angola'},
 'Cardiovascular diseases': {0: 61995, 1: 12904, 2: 97931, 3: 169, 4: 25724},
 'Respiratory diseases ': {0: 7082, 1: 815, 2: 7528, 3: 39, 4: 3934},
 'Malaria ': {0: 530, 1: 0, 2: 0, 3: 0, 4: 10784},
 'Digestive diseases': {0: 6929, 1: 527, 2: 6398, 3: 27, 4: 8971},
 'Neoplasms': {0: 21247, 1: 4705, 2: 23816, 3: 230, 4: 12791},
 '__All causes__': {0: 97783, 1: 18951, 2: 135673, 3: 465, 4: 62204}}

In [21]:
columns_to_calculate = ['Cardiovascular diseases', 'Respiratory diseases ', 'Malaria ', 'Digestive diseases', 'Neoplasms']
for column in columns_to_calculate:
        
    df[f'{column} %'] = (df[column] / df['__All causes__']) * 100

In [22]:
df

,Country Name,Cardiovascular diseases,Respiratory diseases,Malaria,Digestive diseases,Neoplasms,__All causes__,Cardiovascular diseases %,Respiratory diseases %,Malaria %,Digestive diseases %,Neoplasms %
0,Afghanistan,61995,7082,530,6929,21247,97783,63.400591,7.242568,0.542017,7.086099,21.728726
1,Albania,12904,815,0,527,4705,18951,68.091394,4.300565,0.000000,2.780856,24.827186
2,Algeria,97931,7528,0,6398,23816,135673,72.181643,5.548635,0.000000,4.715750,17.553972
3,Andorra,169,39,0,27,230,465,36.344086,8.387097,0.000000,5.806452,49.462366
4,Angola,25724,3934,10784,8971,12791,62204,41.354254,6.324352,17.336506,14.421902,20.562986
...,...,...,...,...,...,...,...,...,...,...,...,...
187,Wales,10519,2892,0,1798,10569,25778,40.806114,11.218869,0.000000,6.974940,41.000078
188,Yemen,55752,5738,5089,4877,12681,84137,66.263356,6.819830,6.048469,5.796499,15.071847
189,Zambia,18157,2388,4777,6528,9789,41639,43.605754,5.735008,11.472418,15.677610,23.509210
190,Zimbabwe,17810,2891,2068,4437,12353,39559,45.021360,7.308071,5.227635,11.216158,31.226775
index_of_world,__World__,18735068,4019102,625532,2581914,10262088,36223704,51.720465,11.095226,1.726858,7.127692,28.329759

In [23]:
zoom_countries = ['Nigeria', 'Democratic Republic of Congo', 'Congo']

result = df.loc[df['Country Name'].isin(zoom_countries)]

print(result)

                     Country Name  Cardiovascular diseases  \
38                          Congo                     7096
46   Democratic Republic of Congo                    89906
120                       Nigeria                   163496

     Respiratory diseases   Malaria   Digestive diseases  Neoplasms  \
38                     997      2102                1722       3363
46                   19997     57160               24531      36862
120                  24506    191106               70077      81558

     __All causes__  Cardiovascular diseases %  Respiratory diseases  %  \
38            15280                  46.439791                 6.524869
46           228456                  39.353749                 8.753108
120          530743                  30.805117                 4.617301

     Malaria  %  Digestive diseases %  Neoplasms %
38    13.756545             11.269634    22.009162
46    25.020135             10.737735    16.135273
120   36.007258             13.203566    15.366759

In [24]:
result = df.loc[df['Country Name'] == 'Nigeria']
#
print(result.to_string(index=False))

Country Name  Cardiovascular diseases  Respiratory diseases   Malaria   Digestive diseases  Neoplasms  __All causes__  Cardiovascular diseases %  Respiratory diseases  %  Malaria  %  Digestive diseases %  Neoplasms %
     Nigeria                   163496                  24506    191106               70077      81558          530743                  30.805117                 4.617301   36.007258             13.203566    15.366759

In [25]:
deriv_pc_names = []

for patho in pathologies:
    patho_pc = patho + " %"
    deriv_pc_names.append(patho_pc)

In [26]:
print(patho)
print(patho_pc)

Neoplasms
Neoplasms %

In [27]:
newdataframe = df["Country Name"].copy()

colnames = []

for duo in list(zip(pathologies, deriv_pc_names)):
    
    colnames.append(duo[0])
    colnames.append(duo[1])
    
print(colnames)

['Cardiovascular diseases', 'Cardiovascular diseases %', 'Respiratory diseases ', 'Respiratory diseases  %', 'Malaria ', 'Malaria  %', 'Digestive diseases', 'Digestive diseases %', 'Neoplasms', 'Neoplasms %']

In [28]:
df.columns

Index(['Country Name', 'Cardiovascular diseases', 'Respiratory diseases ',
       'Malaria ', 'Digestive diseases', 'Neoplasms', '__All causes__',
       'Cardiovascular diseases %', 'Respiratory diseases  %', 'Malaria  %',
       'Digestive diseases %', 'Neoplasms %'],
      dtype='object')

In [29]:
for seriename in colnames:
    print(seriename)

Cardiovascular diseases
Cardiovascular diseases %
Respiratory diseases
Respiratory diseases  %
Malaria
Malaria  %
Digestive diseases
Digestive diseases %
Neoplasms
Neoplasms %

In [30]:
list_series = [df[seriename] for seriename in colnames]

In [31]:
myzip = zip(colnames, list_series)

In [32]:
listmyzip = list(myzip)

In [33]:
mydict = dict()

mydict['Country Name'] = df['Country Name']

for bi in listmyzip:
    mydict[bi[0]] = bi[1]

In [34]:
print(mydict['Neoplasms'])

0                    21247
1                     4705
2                    23816
3                      230
4                    12791
                    ...
187                  10569
188                  12681
189                   9789
190                  12353
index_of_world    10262088
Name: Neoplasms, Length: 192, dtype: int64

In [35]:
df_from_dict = pd.DataFrame.from_dict(mydict)
df_from_dict

,Country Name,Cardiovascular diseases,Cardiovascular diseases %,Respiratory diseases,Respiratory diseases %,Malaria,Malaria %,Digestive diseases,Digestive diseases %,Neoplasms,Neoplasms %
0,Afghanistan,61995,63.400591,7082,7.242568,530,0.542017,6929,7.086099,21247,21.728726
1,Albania,12904,68.091394,815,4.300565,0,0.000000,527,2.780856,4705,24.827186
2,Algeria,97931,72.181643,7528,5.548635,0,0.000000,6398,4.715750,23816,17.553972
3,Andorra,169,36.344086,39,8.387097,0,0.000000,27,5.806452,230,49.462366
4,Angola,25724,41.354254,3934,6.324352,10784,17.336506,8971,14.421902,12791,20.562986
...,...,...,...,...,...,...,...,...,...,...,...
187,Wales,10519,40.806114,2892,11.218869,0,0.000000,1798,6.974940,10569,41.000078
188,Yemen,55752,66.263356,5738,6.819830,5089,6.048469,4877,5.796499,12681,15.071847
189,Zambia,18157,43.605754,2388,5.735008,4777,11.472418,6528,15.677610,9789,23.509210
190,Zimbabwe,17810,45.021360,2891,7.308071,2068,5.227635,4437,11.216158,12353,31.226775
index_of_world,__World__,18735068,51.720465,4019102,11.095226,625532,1.726858,2581914,7.127692,10262088,28.329759

In [36]:
df.dtypes

Country Name                  object
Cardiovascular diseases        int64
Respiratory diseases           int64
Malaria                        int64
Digestive diseases             int64
Neoplasms                      int64
__All causes__                 int64
Cardiovascular diseases %    float64
Respiratory diseases  %      float64
Malaria  %                   float64
Digestive diseases %         float64
Neoplasms %                  float64
dtype: object

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 192 entries, 0 to index_of_world
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country Name               192 non-null    object
 1   Cardiovascular diseases    192 non-null    int64
 2   Respiratory diseases       192 non-null    int64
 3   Malaria                    192 non-null    int64
 4   Digestive diseases         192 non-null    int64
 5   Neoplasms                  192 non-null    int64
 6   __All causes__             192 non-null    int64
 7   Cardiovascular diseases %  192 non-null    float64
 8   Respiratory diseases  %    192 non-null    float64
 9   Malaria  %                 192 non-null    float64
 10  Digestive diseases %       192 non-null    float64
 11  Neoplasms %                192 non-null    float64
dtypes: float64(5), int64(6), object(1)
memory usage: 23.6+ KB

In [38]:
df

,Country Name,Cardiovascular diseases,Respiratory diseases,Malaria,Digestive diseases,Neoplasms,__All causes__,Cardiovascular diseases %,Respiratory diseases %,Malaria %,Digestive diseases %,Neoplasms %
0,Afghanistan,61995,7082,530,6929,21247,97783,63.400591,7.242568,0.542017,7.086099,21.728726
1,Albania,12904,815,0,527,4705,18951,68.091394,4.300565,0.000000,2.780856,24.827186
2,Algeria,97931,7528,0,6398,23816,135673,72.181643,5.548635,0.000000,4.715750,17.553972
3,Andorra,169,39,0,27,230,465,36.344086,8.387097,0.000000,5.806452,49.462366
4,Angola,25724,3934,10784,8971,12791,62204,41.354254,6.324352,17.336506,14.421902,20.562986
...,...,...,...,...,...,...,...,...,...,...,...,...
187,Wales,10519,2892,0,1798,10569,25778,40.806114,11.218869,0.000000,6.974940,41.000078
188,Yemen,55752,5738,5089,4877,12681,84137,66.263356,6.819830,6.048469,5.796499,15.071847
189,Zambia,18157,2388,4777,6528,9789,41639,43.605754,5.735008,11.472418,15.677610,23.509210
190,Zimbabwe,17810,2891,2068,4437,12353,39559,45.021360,7.308071,5.227635,11.216158,31.226775
index_of_world,__World__,18735068,4019102,625532,2581914,10262088,36223704,51.720465,11.095226,1.726858,7.127692,28.329759

In [39]:
min_max_mean = df.describe().loc[['min', 'max', 'mean']]
min_max_mean

,Cardiovascular diseases,Respiratory diseases,Malaria,Digestive diseases,Neoplasms,__All causes__,Cardiovascular diseases %,Respiratory diseases %,Malaria %,Digestive diseases %,Neoplasms %
min,8.000000e+00,1.000000e+00,0.000000,1.000000e+00,3.00,13.00,29.597192,1.459227,0.000000,2.626609,12.003373
max,1.873507e+07,4.019102e+06,625532.000000,2.581914e+06,10262088.00,36223704.00,76.034618,33.933829,40.989728,21.649068,53.066038
mean,1.951570e+05,4.186565e+04,6515.958333,2.689494e+04,106896.75,377330.25,51.687456,7.404514,3.834513,8.199087,28.874430

In [40]:
most_malaria = df['Malaria '].nlargest(n=5)

In [41]:
most_malaria.index

Index(['index_of_world', 120, 46, 75, 41], dtype='object')

In [42]:
countries_most_malaria_index = most_malaria.index[1:]

In [43]:
list_countries_most_malaria_index = list(countries_most_malaria_index)

In [44]:
df.iloc[list_countries_most_malaria_index,:]

,Country Name,Cardiovascular diseases,Respiratory diseases,Malaria,Digestive diseases,Neoplasms,__All causes__,Cardiovascular diseases %,Respiratory diseases %,Malaria %,Digestive diseases %,Neoplasms %
120,Nigeria,163496,24506,191106,70077,81558,530743,30.805117,4.617301,36.007258,13.203566,15.366759
46,Democratic Republic of Congo,89906,19997,57160,24531,36862,228456,39.353749,8.753108,25.020135,10.737735,16.135273
75,India,2574410,1168381,33372,464914,932587,5173664,49.759899,22.583241,0.645036,8.986165,18.025658
41,Cote d'Ivoire,22376,3642,29398,6623,11587,73626,30.391438,4.946622,39.928829,8.995464,15.737647

In [45]:
last_row = df.iloc[-1]

print(last_row)

Country Name                 __World__
Cardiovascular diseases       18735068
Respiratory diseases           4019102
Malaria                         625532
Digestive diseases             2581914
Neoplasms                     10262088
__All causes__                36223704
Cardiovascular diseases %    51.720465
Respiratory diseases  %      11.095226
Malaria  %                    1.726858
Digestive diseases %          7.127692
Neoplasms %                  28.329759
Name: index_of_world, dtype: object

In [46]:
total_world_malaria = last_row["Malaria "]

print(total_world_malaria)

625532